mixin pokemonForm(pokemons, actionURL, mode, title)

    div.form-panel
        div.header= title
            form(action=actionURL method='post')
                div.form-input
                    label(for='name') Name:
                    input(type='text' id='name' name='name' value=pokemons.name)
                div.form-input
                    label(for='type') Type
                    select(id='type' name='type' autocomplete='off')
                        each type in types
                            option(value=type selected = (type ===pokemons.type)) #{type}
                div.form-input
                    label(for='title') Title:
                    input(type='text' id='title' name='title' value=pokemons.name)
                div.form-input
                    label(for='hp') HP:
                    input(type='number' id='hp' name='hp' value=pokemons.hp)
                div.form-input
                    label(for='pokepic') Insert Image:
                    input(type='text' id='pokepic' name='pokepic' value=pokemons.pokepic)
                div.form-input
                    label(for='orb') Choose Power Cost:
                    select(id='orb' name='orb' autocomplete='off')
                         each type in types
                             option(value=type selected = (type ===pokemons.orb)) #{type}
                div.form-input
                    label(for='orb2') Choose Power Cost:
                    select(id='orb2' name='orb2' autocomplete='off')
                        each type in types
                            option(value=type selected = (type === pokemons.orb2)) #{type}
                div.form-input
                    label(for='orb3') Choose Power Cost:
                    select(id='orb3' name='orb3' autocomplete='off')
                        each type in types
                            option(value=type selected = (type === pokemons.orb3)) #{type}
                div.form-input
                    label(for='powerName') Insert Power Name:
                    input(type='text' id='powerName' name='powerName' value=pokemons.powerName)
                div.form-input
                    label(for='powerDmg') Insert Damage output:
                    input(type='number' id='powerDmg' name='powerDmg' value=pokemons.powerDmg)
                div.form-input
                    label(for='orb4') Choose Power Cost:
                    select(id='orb4' name='orb4' autocomplete='off')
                        each type in types
                            option(value=type selected = (type === pokemons.orb4)) #{type}
                div.form-input
                    label(for='orb5') Choose Power Cost:
                    select(id='orb5' name='orb5' autocomplete='off')
                        each type in types
                            option(value=type selected = (type === pokemons.orb5)) #{type}
                div.form-input
                    label(for='orb6') Choose Power Cost:
                    select(id='orb6' name='orb6' autocomplete='off')
                        each type in types
                            option(value=type selected = (type === pokemons.orb6)) #{type}
                div.form-input
                    label(for='powerName2') Insert Power Name:
                    input(type='text' id='powerName2' name='powerName2' value=pokemons.powerName2)
                div.form-input
                    label(for='powerDmg2') Insert Damage output:
                    input(type='number' id='powerDmg2' name='powerDmg2' value=pokemons.powerDmg2)
                div.form-input
                    label(for='weakness') Choose Weakness:
                    select(id='weakness' name='weakness' autocomplete='off')
                        each type in types
                            option(value=type selected = (type === pokemons.weakness)) #{type}
                div.form-input
                    label(for='resistance') Choose Resistance:
                    select(id='resistance' name='resistance' autocomplete='off')
                        each type in types
                            option(value=type selected = (type === pokemons.resistance)) #{type}
                div.form-input
                    label(for='retreat') Choose retreat Cost:
                    select(id='retreat' name='retreat' autocomplete='off')
                        each type in types
                            option(value=type selected = (type === pokemons.retreat)) #{type}
                div.button-row
                    a.button.cancel(href='/') Cancel
                    if (mode==='edit')
                        a.button.delete(href=`/delete/${pokemons.id}`) Delete
                    button.button.save(type='submit') Submit