mixin pokemonCard(Pokemon)

    div.card
        div.edit
            a(href=`/edit/${Pokemon.id}`) Edit
        div.info-row.id
            div.title=Pokemon.title
            div.name=Pokemon.name
            div.hp=Pokemon.hp
            img.type(src=`${Pokemon.type}`)
        div.picture-container
            img.pokepic(src=`${Pokemon.pokepic}`)
        div.power-row1
            img.orb(src=`${Pokemon.orb}`)
            if `${Pokemon.orb2}`
                img.orb2(src=`${Pokemon.orb2}`)
            if `${Pokemon.orb3}`
                img.orb3(src=`${Pokemon.orb3}`)
            div.powerName=Pokemon.powerName
            div.powerDmg=Pokemon.powerDmg
        div.power-row2
            img.orb4(src=`${Pokemon.orb4}`)
            if `${Pokemon.orb5}`
                img.orb5(src=`${Pokemon.orb5}`)
            if `${Pokemon.orb6}`
                img.orb6(src=`${Pokemon.orb6}`)
            div.powerName2=Pokemon.powerName2
            div.powerDmg2=Pokemon.powerDmg2
        div.line
        div.row
            img.weak(src=`${Pokemon.weakness}`)
            img.resist(src=`${Pokemon.resistance}`)
            img.retreat(src=`${Pokemon.retreat}`)